*{
	margin:0;
	padding:0;
}
html,body{
	width:100%;
}
.container{
	width:100%;
}
.mark{
	width:100%;
	background: rgba(0,0,0,0.5);
	position: absolute;
	left:0;
	top:0;
}
.prodig{
	width:300px;
	height:80px;
	background: rgba(0,0,0,0.8);
	border: 1px #000 solid;
	box-shadow: 0 0 2px rgba(255,255,255,0.8);
	position: absolute;
	left:0;
	top:0;
	right:0;
	bottom:0;
	margin:auto;
}
h2{
	line-height: 52px;
	text-align: center;
	color:#fff;
	font-size: 20px;
}
p{
	height:40px;
	display: -webkit-flex;
}
.btn{
	-webkit-flex:1;
	height:30px;
	background: rgba(255,255,255,0.4);
	border: none;
	border-right:1px #eee solid;
}